body {
  background-color: #000 !important;
}

.crypto-img {
  width: 40px;
  margin-right: 10px;
}

table {
  background-color: #0c0c0c !important;
  cursor: pointer;
}

.logo {
  width: 50px;
}

span {
  color: gold;
  margin-left: 5px;
}

@media (max-width: 400px) {
  .logo {
    width: 30px;
  }
  .crypto-img {
    width: 25px;
    margin-right: 3px;
  }
}
